.sidebar {
  //   background-color: rgb(161, 207, 237);
  flex: 1;
  border-right: gray solid 2px;
  min-height: 100vh;
  background-color: white;

  .underline {
    border-top: 2px solid grey;
  }
  .top {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;

    .logo {
      font-weight: 900;
      font-size: 25px;
      color: green;
      // border-bottom: gray solid 2px;
    }
  }
  .hr {
    color: gray;
  }
  .center {
    padding-left: 20px;
    padding-right: 20px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .title {
        font-size: 15px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: rgb(170, 231, 145);
        }

        .icons {
          font-size: 18px;
          color: green;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          margin-left: 10px;
        }
      }
    }
  }

  .title2 {
    font-weight: bold;
    color: #999;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .buttom {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 15px;
      height: 15px;
      margin-left: 15px;
      border-radius: 3px;
      border: #999 solid 1px;
      cursor: pointer;

      &:nth-child(1) {
        background-color: rgb(255, 255, 255);
      }

      &:nth-child(2) {
        background-color: rgb(0, 0, 0);
      }

      // &:nth-child(3) {
      //   background-color: rgb(100, 147, 0);
      // }
    }
  }
}
